click==8.1.7
deezer-python==6.1.0
flask==2.3.3
fuzzywuzzy==0.18.0
imgcat==0.5.0
inquirerpy==0.3.4
mediafile==0.12.0
musicbrainzngs==0.7.1
pillow==10.0.1
pytest==7.4.0
python-dotenv==1.0.0
python3-discogs-client==2.7
pyyaml==6.0.1
requests==2.31.0
spotipy==2.23.0
sqlalchemy==2.0.20
rich==13.5.2
rgbprint==4.0.2
pyfiglet==1.0.0
toml==0.10.2
cachetools==5.3.1
